<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h3>Singup for Blinkist</h3>

        <div id="form">
          <button type="button" class="btn btn-fb btn-lg btn-block">Signup With Facebook</button>
          
          <div class="row" style="margin:10px;">
            <div class="col-xs-5 lined"></div>
            <div class="col-xs-2">or</div>
            <div class="col-xs-5 lined"></div>
          </div>

          <div class="form-group">
            <input type="email" class="form-control input-lg" id="email" placeholder="Email">
          </div>
          <button type="button" class="btn btn-primary btn-lg btn-block">Create Account</button>
        </div>
        
      </div>
      <div class="modal-footer text-center">
        <a href="#">
          Already have an account?
        </a>
      </div>
    </div>
  </div>
</div>