<div id="home">
  <section id="banner">
    <div id="banner-text" class="row">
      <div class="col-md-5 col-xs-12">
        <h1>Which book should we blink next?</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia aperiam libero assumenda dignissimos a illo officiis.
        </p>
        <div>
          <a href="#" class="btn btn-primary navbar-btn">Start Free Trial</a>
        </div>
      </div>
    </div>
  </section>

  <div id="two-boxes">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="inner col-md-12"></div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="inner col-md-12"></div>
      </div>
    </div>
  </div>

  <div id="rectangle"></div>
</div>