nav#home {
  background-color: white;
  margin-bottom:0px;
  a#signin{
    float: right;
    margin-right: 20px;
  }
}

section#footer{
  background-color: #F1F6F4;
  min-height: 250px;
  padding: 30px;
  li.head{
    color: #042330;
    font-weight: bold;
    margin-bottom: 5px;
  }
  li.muted{
    color: gray;
  }
  ul li{
    list-style: none;
    margin-left: -1em;
  }
}


.btn-fb,.btn-fb:active,.btn-fb:visited,.btn-fb:focus{
  background-color: #3b5998;
  border-color: #3b5998;
  color:white;
  border-radius: 2px;
  font-size: 16px;
  outline:0 !important;
}

.btn-primary,.btn-primary:active,.btn-primary:visited,.btn-primary:focus {
  background-color: #2CE080;
  border-color: #2CE080;
  border-radius: 2px;
  font-size: 16px;
  outline:0 !important;
}
.btn-primary:hover{
  background-color: #22C870;
  border-color:#22C870;
}
