div#home{
  section#banner{
    background: url(asset-path('book_cover.jpg')) no-repeat center center;
    background-size: cover;
    height: 32rem;
    padding-top:40px;
    color: white;

    #banner-text{
      margin-left: 20px;
      p{
        font-size: 18px;
      }
    }
  }

  div#two-boxes{
    margin: 20px;

    .inner{
      height: 350px;
      background-color: #4E92DF;
      margin-top:5px; 
    }
  }

  div#rectangle{
    margin: 20px;
    height: 350px;
    background-color: #D8D8D8;
  }

}
