div#signupModal{
  text-align: center;
  div#form{
    margin-top: 30px; 
  }
  .modal-footer{
    background-color: #cfcfcf;
    text-align: center;
  }

  div.lined{
    height:1px;
    border-top:1px solid #cfcfcf;
    position:relative;
    top: 10px;
  }
}

@media (max-width: 480px) {
  div#signupModal{
    div.modal-dialog{
      margin: 0px;
    }
  }
}