<!DOCTYPE html>
<html>
<head>
  <title>Blink</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav id="home" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="">
        <a class="navbar-brand" href="#">Blinkist</a>
        <a id="signin" href="#" class="btn btn-primary navbar-btn"  data-toggle="modal" data-target="#signupModal">Sign up</a>
      </div>
    </div>
  </nav>
  
  <%= render "shared/signup_modal" %>

<%= yield %>

<!-- footer -->
<section id="footer">
  <div class="row">
    <div class="col-md-4">
      <h3>Blinkist Footer</h3>
      <p>You were born curious. Start learning now.</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <% 4.times do |i| %>
        <div class="col-sm-3">
          <ul>
            <li class="head"><%= ["lorem", "ipsom", "amet", "dolar"].sample(3).join(' ') %></li>

            <% rand(4..7).times do %>
            <li class="muted"><%= ["lorem", "ipsom", "amet", "dolar"].sample(3).join(' ') %></li>
            <% end %>

          </ul>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

</body>
</html>
